#backcontainer{
    left:0;
    top:0;
    width:100%;
    height:100%;
    position:absolute;
    float:left;
    z-index:-99;
    filter: blur(15px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
}

@keyframes spin {
     0% {
         -webkit-transform: translateZ(100px) rotateY(0deg);
         -moz-transform: translateZ(100px) rotateY(0deg);
         -o-transform: translateZ(100px) rotateY(0deg);
         -ms-transform: translateZ(100px) rotateY(0deg);
         transform: translateZ(100px) rotateY(0deg);
     }
     100% {
         -webkit-transform: translateZ(100px) rotateY(360deg);
         -moz-transform: translateZ(100px) rotateY(360deg);
         -o-transform: translateZ(100px) rotateY(360deg);
         -ms-transform: translateZ(100px) rotateY(360deg);
         transform: translateZ(100px) rotateY(360deg);
     }

 }

@-moz-keyframes spin {
    0% {
        -moz-transform: translateZ(100px) rotateY(0deg);
        transform: translateZ(100px) rotateY(0deg);
    }
    100% {
        -moz-transform: translateZ(100px) rotateY(360deg);
        transform: translateZ(100px) rotateY(360deg);
    }

}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: translateZ(100px) rotateY(0deg);
        transform: translateZ(100px) rotateY(0deg);
    }
    100% {
        -webkit-transform: translateZ(100px) rotateY(360deg);
        transform: translateZ(100px) rotateY(360deg);
    }

}

@-ms-keyframes spin {
    0% {
        -ms-transform: translateZ(100px) rotateY(0deg);
        transform: translateZ(100px) rotateY(0deg);
    }
    100% {
        -ms-transform: translateZ(100px) rotateY(360deg);
        transform: translateZ(100px) rotateY(360deg);
    }

}

@-o-keyframes spin {
    0% {
        -o-transform: translateZ(100px) rotateY(0deg);
        transform: translateZ(100px) rotateY(0deg);
    }
    100% {
        -o-transform: translateZ(100px) rotateY(360deg);
        transform: translateZ(100px) rotateY(360deg);
    }

}

#background{
    width:256px;
    height:256px;
    margin: auto auto;

    /*perspective*/
    -webkit-perspective:200px;
    -moz-perspective:200px;
    -ms-perspective:200px;
    -o-perspective:200px;
    perspective:200px;
    /*transform-style*/
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;
    /*transform*/
    -webkit-transform:translateY(128px) scale(5);
    -moz-transform:translateY(128px) scale(5);
    -ms-transform:translateY(128px) scale(5);
    -o-transform:translateY(128px) scale(5);
    transform:translateY(128px) scale(5);
}
#backbox{
    width:100%;
    height:100%;
    /*transform-style*/
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;
    /*transform*/
    -webkit-transform:translateZ(50px) rotateY(0deg);
    -moz-transform:translateZ(50px) rotateY(0deg);
    -ms-transform:translateZ(50px) rotateY(0deg);
    -o-transform:translateZ(50px) rotateY(0deg);
    transform:translateZ(50px) rotateY(0deg);
    /*animation-name*/
    -webkit-animation-name:spin;
    -moz-animation-name:spin;
    -ms-animation-name:spin;
    -o-animation-name:spin;
    animation-name:spin;
    /*animation-duration*/
    -webkit-animation-duration:20s;
    -moz-animation-duration:20s;
    -ms-animation-duration:20s;
    -o-animation-duration:20s;
    animation-duration:20s;
    /*animation-timing-function*/
    -webkit-animation-timing-function:linear;
    -moz-animation-timing-function:linear;
    -ms-animation-timing-function:linear;
    -o-animation-timing-function:linear;
    animation-timing-function:linear;
    /*animation-delay*/
    -webkit-animation-delay:0s;
    -moz-animation-delay:0s;
    -ms-animation-delay:0s;
    -o-animation-delay:0s;
    animation-delay:0s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    /*animation-direction*/
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    -ms-animation-direction:normal;
    -o-animation-direction:normal;
    animation-direction:normal;
}
img.part{
    width:256px;
    height:256px;
    display:block;
    position:absolute;
    /*backface-visibility*/
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
}
img.part1{
    /*transform*/
    -webkit-transform:rotateY(0deg) translateZ(-128px);
    -moz-transform:rotateY(0deg) translateZ(-128px);
    -ms-transform:rotateY(0deg) translateZ(-128px);
    -o-transform:rotateY(0deg) translateZ(-128px);
    transform:rotateY(0deg) translateZ(-128px);
}
img.part2{
    /*transform*/
    -webkit-transform:rotateY(-90deg) translateZ(-128px);
    -moz-transform:rotateY(-90deg) translateZ(-128px);
    -ms-transform:rotateY(-90deg) translateZ(-128px);
    -o-transform:rotateY(-90deg) translateZ(-128px);
    transform:rotateY(-90deg) translateZ(-128px);
}
img.part3{
    /*transform*/
    -webkit-transform:rotateY(-180deg) translateZ(-128px);
    -moz-transform:rotateY(-180deg) translateZ(-128px);
    -ms-transform:rotateY(-180deg) translateZ(-128px);
    -o-transform:rotateY(-180deg) translateZ(-128px);
    transform:rotateY(-180deg) translateZ(-128px);
}
img.part4{
    /*transform*/
    -webkit-transform:rotateY(-270deg) translateZ(-128px);
    -moz-transform:rotateY(-270deg) translateZ(-128px);
    -ms-transform:rotateY(-270deg) translateZ(-128px);
    -o-transform:rotateY(-270deg) translateZ(-128px);
    transform:rotateY(-270deg) translateZ(-128px);
}
img.part5{
    /*transform*/
    -webkit-transform:rotateX(90deg) translateZ(-128px);
    -moz-transform:rotateX(90deg) translateZ(-128px);
    -ms-transform:rotateX(90deg) translateZ(-128px);
    -o-transform:rotateX(90deg) translateZ(-128px);
    transform:rotateX(90deg) translateZ(-128px);
}
